<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>白2.1-笔-粗细-选中1</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔-粗细-选中1</string>
		<key>NIGHT</key>
		<string>黑2.1-笔-粗细-选中1</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-笔-粗细1</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔-粗细1</string>
		<key>NIGHT</key>
		<string>黑2.1-笔-粗细1</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-笔-粗细-选中3</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔-粗细-选中3</string>
		<key>NIGHT</key>
		<string>黑2.1-笔-粗细-选中3</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-笔-粗细3</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔-粗细3</string>
		<key>NIGHT</key>
		<string>黑2.1-笔-粗细3</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-笔-粗细-选中6</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔-粗细-选中6</string>
		<key>NIGHT</key>
		<string>黑2.1-笔-粗细-选中6</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-笔-粗细6</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔-粗细6</string>
		<key>NIGHT</key>
		<string>黑2.1-笔-粗细6</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-笔-选中</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔-选中</string>
		<key>NIGHT</key>
		<string>黑2.1-笔-选中</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-笔</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-笔</string>
		<key>NIGHT</key>
		<string>黑2.1-笔</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-撤销-按下</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-撤销-按下</string>
		<key>NIGHT</key>
		<string>黑2.1-撤销-按下</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-撤销-不可点击</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-撤销-不可点击</string>
		<key>NIGHT</key>
		<string>黑2.1-撤销-不可点击</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-撤销-可点击</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-撤销-可点击</string>
		<key>NIGHT</key>
		<string>黑2.1-撤销-可点击</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-关闭标注</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-关闭标注</string>
		<key>NIGHT</key>
		<string>黑2.1-关闭标注</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-垃圾桶-pressed</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-垃圾桶-pressed</string>
		<key>NIGHT</key>
		<string>黑2.1-垃圾桶-pressed</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-垃圾桶</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-垃圾桶</string>
		<key>NIGHT</key>
		<string>黑2.1-垃圾桶</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-上一步-按下</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-上一步-按下</string>
		<key>NIGHT</key>
		<string>黑2.1-上一步-按下</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-上一步-不可点</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-上一步-不可点</string>
		<key>NIGHT</key>
		<string>黑2.1-上一步-不可点</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-上一步-可点击</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-上一步-可点击</string>
		<key>NIGHT</key>
		<string>黑2.1-上一步-可点</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-橡皮</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-橡皮</string>
		<key>NIGHT</key>
		<string>黑2.1-橡皮</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>白2.1-橡皮选中</key>
	<dict>
		<key>DAY</key>
		<string>白2.1-橡皮选中</string>
		<key>NIGHT</key>
		<string>黑2.1-橡皮选中</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>皮肤切换</key>
	<dict>
		<key>DAY</key>
		<string>2.1_黑夜模式</string>
		<key>NIGHT</key>
		<string>2.1_白天模式</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>系统提示分割线</key>
	<dict>
		<key>DAY</key>
		<string>白天版-系统消息-线</string>
		<key>NIGHT</key>
		<string>sys_broadcast_line</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>聊天cell左侧聊天图标</key>
	<dict>
		<key>DAY</key>
		<string>2.1_白天版-聊天</string>
		<key>NIGHT</key>
		<string>ordinary</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>chatToolBarKeyBoardIcon</key>
	<dict>
		<key>DAY</key>
		<string>FastSDK.bundle/白天版-键盘</string>
		<key>NIGHT</key>
		<string>FastSDK.bundle/keyBroadIcon</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
	<key>privateChatExitButton</key>
	<dict>
		<key>DAY</key>
		<string>FastSDK.bundle/私聊关闭按钮</string>
		<key>NIGHT</key>
		<string>FastSDK.bundle/chat_close</string>
		<key>STYLE1</key>
		<string>style1_home</string>
		<key>STYLE2</key>
		<string>style2_home</string>
		<key>STYLE3</key>
		<string>style3_home</string>
	</dict>
</dict>
</plist>
