<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSThemeColorPureOpposite</key>
	<dict>
		<key>DAY</key>
		<string>000000</string>
		<key>NIGHT</key>
		<string>FFFFFF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPure</key>
	<dict>
		<key>DAY</key>
		<string>FFFFFF</string>
		<key>NIGHT</key>
		<string>000000</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorCategoryTextNoSelect</key>
	<dict>
		<key>DAY</key>
		<string>666666</string>
		<key>NIGHT</key>
		<string>999999</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorCategoryTextSelect</key>
	<dict>
		<key>DAY</key>
		<string>333333</string>
		<key>NIGHT</key>
		<string>ffffff</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorCategoryBack</key>
	<dict>
		<key>DAY</key>
		<string>FCFCFC</string>
		<key>NIGHT</key>
		<string>242424</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorBroadcastBack</key>
	<dict>
		<key>DAY</key>
		<string>F4F4F6</string>
		<key>NIGHT</key>
		<string>262626</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorBroadcastText</key>
	<dict>
		<key>DAY</key>
		<string>F4F4F6</string>
		<key>NIGHT</key>
		<string>262626</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatSystemText</key>
	<dict>
		<key>DAY</key>
		<string>ff665d</string>
		<key>NIGHT</key>
		<string>ff665d</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatBack</key>
	<dict>
		<key>DAY</key>
		<string>F4F4F6</string>
		<key>NIGHT</key>
		<string>262626</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatCellText</key>
	<dict>
		<key>DAY</key>
		<string>4D4D4D</string>
		<key>NIGHT</key>
		<string>D9D9D9</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatInputText</key>
	<dict>
		<key>DAY</key>
		<string>4D4D4D</string>
		<key>NIGHT</key>
		<string>ffffff</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatCellNickNameOther</key>
	<dict>
		<key>DAY</key>
		<string>339cf5</string>
		<key>NIGHT</key>
		<string>00aeef</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatCellNickNameSelf</key>
	<dict>
		<key>DAY</key>
		<string>999999</string>
		<key>NIGHT</key>
		<string>999999</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatCellTime</key>
	<dict>
		<key>DAY</key>
		<string>999999</string>
		<key>NIGHT</key>
		<string>666666</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorChatCellLeftLine</key>
	<dict>
		<key>DAY</key>
		<string>CCCCCC</string>
		<key>NIGHT</key>
		<string>666666</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatTitileSeperateLine</key>
	<dict>
		<key>DAY</key>
		<string>CCCCCC</string>
		<key>NIGHT</key>
		<string>1A1A1A</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatTitile</key>
	<dict>
		<key>DAY</key>
		<string>666666</string>
		<key>NIGHT</key>
		<string>FFFFFF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorAllCellTime</key>
	<dict>
		<key>DAY</key>
		<string>808080</string>
		<key>NIGHT</key>
		<string>AAAAAA</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatBack</key>
	<dict>
		<key>DAY</key>
		<string>ebebeb</string>
		<key>NIGHT</key>
		<string>262626</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatMyCellText</key>
	<dict>
		<key>DAY</key>
		<string>FFFFFF</string>
		<key>NIGHT</key>
		<string>FFFFFF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatMyCellBack</key>
	<dict>
		<key>DAY</key>
		<string>0A95C8</string>
		<key>NIGHT</key>
		<string>0A95C8</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatFreindCellText</key>
	<dict>
		<key>DAY</key>
		<string>4D4D4D</string>
		<key>NIGHT</key>
		<string>FFFFFF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatFreindCellBack</key>
	<dict>
		<key>DAY</key>
		<string>FFFFFF</string>
		<key>NIGHT</key>
		<string>454a4c</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorPrivateChatCellTime</key>
	<dict>
		<key>DAY</key>
		<string>F4F4F6</string>
		<key>NIGHT</key>
		<string>262626</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorQACellText</key>
	<dict>
		<key>DAY</key>
		<string>4D4D4D</string>
		<key>NIGHT</key>
		<string>FFFFFF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorQACellAnswerAsk</key>
	<dict>
		<key>DAY</key>
		<string>999999</string>
		<key>NIGHT</key>
		<string>999999</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorQACellTitle</key>
	<dict>
		<key>DAY</key>
		<string>339CF5</string>
		<key>NIGHT</key>
		<string>00AEEF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorQAMessageText</key>
	<dict>
		<key>DAY</key>
		<string>333333</string>
		<key>NIGHT</key>
		<string>FFFFFF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorQAMessageBack</key>
	<dict>
		<key>DAY</key>
		<string>E9E9E9</string>
		<key>NIGHT</key>
		<string>000000CC</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorRewardBack</key>
	<dict>
		<key>DAY</key>
		<string>e6e7e9</string>
		<key>NIGHT</key>
		<string>454545</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorRewardContent</key>
	<dict>
		<key>DAY</key>
		<string>4d4d4d</string>
		<key>NIGHT</key>
		<string>d9d9d9</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorKeyboardText</key>
	<dict>
		<key>DAY</key>
		<string>4D4D4D</string>
		<key>NIGHT</key>
		<string>ffffff</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorKeyboardTopLine</key>
	<dict>
		<key>DAY</key>
		<string>d7d7d7</string>
		<key>NIGHT</key>
		<string>1a1a1a</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorKeyboardBack</key>
	<dict>
		<key>DAY</key>
		<string>eff0f3</string>
		<key>NIGHT</key>
		<string>242424</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorKeyboardInputBack</key>
	<dict>
		<key>DAY</key>
		<string>FFFFFF</string>
		<key>NIGHT</key>
		<string>393939</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorKeyboardSendBtnText</key>
	<dict>
		<key>DAY</key>
		<string>999999</string>
		<key>NIGHT</key>
		<string>4c4c4c</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>GSThemeColorNoDocTitle</key>
	<dict>
		<key>DAY</key>
		<string>666666B1</string>
		<key>NIGHT</key>
		<string>666666B1</string>
		<key>STYLE1</key>
		<string>F0FFFF</string>
		<key>STYLE2</key>
		<string>F0FFFF</string>
		<key>STYLE3</key>
		<string>F0FFFF</string>
	</dict>
	<key>GSThemeColorDocAnnocBack</key>
	<dict>
		<key>DAY</key>
		<string>00000033</string>
		<key>NIGHT</key>
		<string>000000</string>
		<key>STYLE1</key>
		<string>F0FFFF</string>
		<key>STYLE2</key>
		<string>F0FFFF</string>
		<key>STYLE3</key>
		<string>F0FFFF</string>
	</dict>
	<key>GSThemeColorDocColorSelectorBack</key>
	<dict>
		<key>DAY</key>
		<string>0000001A</string>
		<key>NIGHT</key>
		<string>0000007f</string>
		<key>STYLE1</key>
		<string>F8F8FF</string>
		<key>STYLE2</key>
		<string>F8F8FF</string>
		<key>STYLE3</key>
		<string>F8F8FF</string>
	</dict>
	<key>GSThemeColorIntroductionTitle</key>
	<dict>
		<key>DAY</key>
		<string>333333</string>
		<key>NIGHT</key>
		<string>e5e5e5</string>
		<key>STYLE1</key>
		<string>F8F8FF</string>
		<key>STYLE2</key>
		<string>F8F8FF</string>
		<key>STYLE3</key>
		<string>F8F8FF</string>
	</dict>
	<key>GSThemeColorIntroductionText</key>
	<dict>
		<key>DAY</key>
		<string>666666</string>
		<key>NIGHT</key>
		<string>999999</string>
		<key>STYLE1</key>
		<string>F8F8FF</string>
		<key>STYLE2</key>
		<string>F8F8FF</string>
		<key>STYLE3</key>
		<string>F8F8FF</string>
	</dict>
	<key>GSThemeColorIntroductionLine</key>
	<dict>
		<key>DAY</key>
		<string>e7e7e7</string>
		<key>NIGHT</key>
		<string>313131</string>
		<key>STYLE1</key>
		<string>F8F8FF</string>
		<key>STYLE2</key>
		<string>F8F8FF</string>
		<key>STYLE3</key>
		<string>F8F8FF</string>
	</dict>
	<key>GSThemeColorMarqueeBack</key>
	<dict>
		<key>DAY</key>
		<string>e6e6e6</string>
		<key>NIGHT</key>
		<string>484848</string>
		<key>STYLE1</key>
		<string>F8F8FF</string>
		<key>STYLE2</key>
		<string>F8F8FF</string>
		<key>STYLE3</key>
		<string>F8F8FF</string>
	</dict>
	<key>GSThemeColorNetOptimizationText</key>
	<dict>
		<key>DAY</key>
		<string>333333</string>
		<key>NIGHT</key>
		<string>ffffff</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
</dict>
</plist>
